modules = [
  "nodejs-20",
  "web",
  "postgresql-16",
  "dotnet-7.0",
  "python-base-3.12",
  "nodejs-with-prybar-18",
  "zig-0.11",
  "nodejs-16",
  "nodejs-14",
  "php-8.1",
  "postgresql-17",
]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Dev Server"
author = 38207286
mode = "sequential"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "import uvicorn  if __name__ == \"__main__\":     uvicorn.run(\"your_file:app\", host=\"0.0.0.0\", port=5000, log_level=\"info\")"

[[workflows.workflow]]
name = "zrdz"
mode = "parallel"
author = 38207286

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "nodejs"

[[workflows.workflow]]
name = "Run Production"
author = 38207286
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Start Dev Server"
author = 38207286
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Development Server"
author = 38207286
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Development"
author = 38207286
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Production"
author = 38207286
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 5000
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-db3213df-6c54-4665-93bb-2488a484a224"

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".ts"]
id = "module:web/languageServer:typescript-language-server"
